<nav class="navbar navbar-expand-lg">
  <div class="search-nav">
    <%= form_tag(root_path, :method => :get, class: "form-group row overflowing") do %>
      <%= text_field_tag :search, params[:search], class: "form-control col-8", :placeholder => "(E.g Circulation, Restrooms, Well Lit)" %>
      <%= submit_tag "Search", :method => :get, :class => "col-4" %>
    <% end %>
  </div>
</nav>
