<nav role="floor">
  <h2>Floors</h2>
  <ul class="nav flex-column nav-pills" id="floors-tab" role="tablist">
    <% @floors.each do |floor| %>
      <li class="nav-item">
        <a class="<%= get_floor_link_class(floor) %>" id="<%= get_floor_id(floor)%>-tab " href="#<%= get_floor_id(floor) %>"  data-toggle="tab" role="tab">
          <i class="fa fa-caret-right"></i>
          <%= floor.name %>
        </a>
      </li>
    <% end %>
  <ul>
</nav>