<div class="row">
  <div class="col-3">
     
  </div>
  <div class="col-12">
    <%= render :partial => "search_results", locals: {results: @search_results} if @search_results %>
    </p><%= react_component("MapAndButtons", { user: current_user, floors: @floors, map: @floors.second.map, search_results: @search_results }) %></p>
  </div>
