<%= render partial: "shared/navbar.html.erb" %>
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-12">
    <%= render :partial => "search_results", locals: {results: @search_results} if @search_results %>
    </p><%= react_component("MapAndButtons", { user: current_user, floors: @floors, maps: @maps, search_result_floors: @search_result_floors, locations: @locations }) %></p>
  </div>
  <%= csrf_meta_tag %>
