<% if @toggle_nav == false %>
  <%= render partial: "shared/navbar.html.erb" %>
<% end %>
  <%= render partial: "shared/search_nav.html.erb" %>

</p><%= react_component("MapAndButtons", { user: current_user, 
                                           floors: @floors,
                                           floor: @floor,
                                           persistent_locations: @persistent_locations,
                                           maps: @maps,
                                           admin_user: @admin_user,
                                           search_result_floors: @search_result_floors, 
                                           locations: @locations, 
                                           edit_locations: @edit_locations }) %></p>
  </div>
  <%= csrf_meta_tag %>

