html,
body {
  height: 100%;
}

.floor-index {
  height: 100%;
  .row {
    @media(min-width: $screen-lg) {
      height: inherit;
    }
  }
  .tabs {
    padding: 0px;
    background-color: black;
    @media(min-width: $screen-lg) {
      height: 100%;
    }
    h2,
    a {
      color: white;
    }
    h2 {
      background-color: $gray-dark;
      padding: .5rem 2rem;
      margin-bottom: 0px;
    }
    .nav-link {
      padding-left: 2.5rem;
      border-radius: 0;
      .fa-caret-right {
        display: none;
      }
      &.active {
        background-color: $beaver-orange;
        .fa-caret-right {
          animation-duration: .25s;
          animation-name: popleft;
          display: inline-block;
          padding-right: .75rem;
        }
      }
    }
  }
  .tab-pane {
    width: 100%;
    padding: 1rem 1rem 0 0;
  }
}

@keyframes popleft {
  from {
    padding-right: 0px;
    display: none;
  }
  to {
    display: inline-block;
    padding-right: .75rem;
  }
}