.legend_padding {
  padding: 10px;
}

.legend_container {
  text-align: center;
  min-width: 113px;
}
.selected_element{
  background: #dc4405;
  //width: 85px;
}
.selected_element a{
  color: white;
}
.selected_element img{
  filter: invert(100%) grayscale(100%) brightness(5000%);
}
.modal-dialog {
  margin-top: 160px !important;
}
.modal-content {
  background: none !important;
  border: none !important;
}

.modal_text {
  text-align: center;
  color: white;
}

.modal-backdrop {
  opacity:0.8 !important;
}

.notification-list {
  position: absolute;
  top: 165px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 400px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 100%;
      border-width: 2px;
      span {
        text-align: center;
        float: left;
        width: 100%;
      }
    }
    li.fade-out {
      height: 0;
      opacity: 0;
      transition: opacity .75s, height .5s ease .5s;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.btn-primary.orange {
  color: $beaver-orange !important;
  border: none !important;
  background-color: white;
  margin: 5px 5px;
  .badge {
    margin-left: 5px;
    background-color: $beaver-orange !important;
    color: white !important;
  }
}
.btn-primary.orange:focus {
  box-shadow: 0 0 0 3px rgba($beaver-orange, .25) !important;
}
.btn-primary.orange.active,
.btn-primary.orange:active,
.btn-primary.orange:hover {
  color: white !important;
  background-color: $beaver-orange !important;
  border: solid 1px black;
  .badge {
    background-color: white !important;
    color: $beaver-orange !important;
  }
}

@keyframes slidein {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
}
@keyframes popleft {
  from {
    padding-right: 0px;
    display: none;
  }
  to {
    display: inline-block;
    padding-right: .75rem;
  }
}
