.drag-circle {
  cursor: nwse-resize;
  fill: black;
  stroke: white;
  stroke-width: 2px;
}

.link-circle {
  cursor: pointer;
  fill: #007bff;
  stroke: white;
  stroke-width: 2px;
}

.bounding-box.edit {
  cursor: move;
  fill: $beaver-orange;
  opacity: .75;
}