@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.legend_icon_image {
  height: 50;
  width: 50;
}

.location-box {
  .bounding-box {
    opacity: 0;
    &.edit {
      opacity: .75;
      cursor: move;
      fill: $beaver-orange;
    }
  }
  text {
    cursor: move;
  }
  .link-circle {
    cursor: pointer;
    fill: #007bff;
    stroke: white;
    stroke-width: 2px;
  }
  .link-circle.delete-location {
    fill: #ff0000 !important;
  }
  .drag-circle {
    cursor: nwse-resize;
    fill: black;
    stroke: white;
    stroke-width: 2px;
  }
  a text {
    cursor: pointer;
  }
  line {
    stroke-width: 1px;
    stroke: black;
  }
}
.location-box.location-box-saving {
  .link-circle {
    fill: #007bff;
  }
}
.location-box.location-box-new {
  .bounding-box.edit {
    fill: #007bff;
  }
  .link-circle {
    fill: #27a645;
  }
}
.location-box.location-box-error {
  .bounding-box.edit {
    fill: #ff0000;
  }
  .link-circle {
    fill: #27a645;
  }
}
